<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/app.css}"/>
</head>
<body class="container" style="background-color: #0c5460">
</br></br></br>
    <div class="col-xs-6 col-md-6 text-center container">
        <h4 style="color: white">Entrar Usuário</h4>
        <form action="" th:action="@{/login}" th:method="post">
            <div class="form-group">
                <input type="email" id="email" name="email" placeholder="Enter user email:" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" placeholder="Enter user password:"
                       class="form-control"/>
            </div>
            <div class="text-center" th:if="${param.errors}">
					<span class="text-danger">
						Email ou senha errada.
					</span>
            </div>
            <div class="form-group">
                <a th:href="@{/cliente/new}">Criar? Criar conta</a>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>