<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Loja Jokers - Menu</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Montserrat:wght@400;500;600&display=swap"
          rel="stylesheet">
    <link rel="stylesheet"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css}"/>
</head>

<body>
<!-- MENU DE NAVEGAÇÃO -->
<nav class="navbar navbar-expand-lg sticky-top bg-dark navbar-light bg-light">
    <form th:action="@{/produtos/categoria}" th:method="GET" class="form-inline">
        <div>
            <input class="form-control mr-sm-2" type="search" name="info" var="${param.pesquisa}" placeholder="Search"
                   aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
    </form>
    <a id="top" style="margin-left: 15px; font-size: 20pt; color: white; font-family: 'Righteous', cursive;" class="navbar-brand" href="#">Loja
        Jokers</a>
    <button style="background-color: white;" class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span style="background-color: white;" class="navbar-toggler-icon"></span>
    </button>
    <div style="margin: auto;" class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a id="top" style="color: white;" class="nav-link" href="/principal/menu/">Menu</a>
            </li>
            <li class="nav-item" th:if="${role.equals('USER')}">
                <a id="top" style="color: white;" class="nav-link" href="/cliente/listar/">Dados Pessoais</a>
            </li>
            <li class="nav-item" th:if="${role.equals('ADMIN')}">
                <a id="top" style="color: white;" class="nav-link" href="/administrador/listar/">Dados Pessoais</a>
            </li>
            <li class="nav-item dropdown" th:if="${role.equals('USER')}">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: white;">
                    Categorias
                </a>
                <div id="top" class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/produtos/genero?info=Masculino}">Masculino</a>
                    <a class="dropdown-item" th:href="@{/produtos/genero?info=Feminino}">Feminino</a>
                    <a class="dropdown-item" th:href="@{/produtos/pesquisa?info=Vestido}">Vestidos</a>
                    <a class="dropdown-item" th:href="@{/produtos/pesquisa?info=Shorts}">Shorts</a>
                    <a class="dropdown-item" th:href="@{/produtos/pesquisa?info=Blusa}">Blusas</a>
                    <a class="dropdown-item" th:href="@{/produtos/categoria?info=Mascara}">Máscaras</a>
                </div>
            </li>
            <li id="top" class="nav-item" th:if="${role.equals('USER')}">
                <a style="color: white;" class="nav-link" href="/produtos/produtos/">Produtos</a>
            </li>
            <li id="top" class="nav-item" th:if="${role.equals('USER')}">
                <a style="color: white;" class="nav-link" href="/carrinho/listar/">Carrinho</a>
            </li>
            <li id="top" class="nav-item" th:if="${role.equals('ADMIN')}">
                <a style="color: white;" class="nav-link" href="/produtos/listar/">Administrador</a>
            </li>
            <li id="top" class="nav-item" th:if="${role.equals('ADMIN')}">
                <a style="color: white;" class="nav-link" href="/relatorios/listar/">Relatórios</a>
            </li>
            <li id="top" class="nav-item" th:if="${role.equals('ESTOQ')}">
                <a style="color: white;" class="nav-link" href="/produtos/estoque/">Estoque</a>
            </li>
            <li id="top" class="nav-item">
                <a style="color: white;" class="nav-link" href="javascript:desconectar();"><strong>Desconectar</strong></a>
            </li>
        </ul>
    </div>
</nav>
<!-- MENU DE NAVEGAÇÃO -->

<div>
    </br></br>
</div>
<main role="main" class="container">
    <form th:action="@{/administrador/cadastro_cliente}" th:method="GET">
        <button type="submit" class="btn btn-success">Adicionar</button>
    </form>
    <div style="margin-left: 111px; margin-top: -40px;">
        <button type="submit" class="btn btn-primary btn-sm">
            <a class="btn btn-primary btn-sm" th:href="@{/administrador/listar}">Ativo</a>
        </button>
        <button type="submit" class="btn btn-secondary btn-sm">
            <a class="btn btn-secondary btn-sm" th:href="@{/administrador/inativo}">Inativo</a>
        </button>
    </div>
    </br>
    <table class="table table-hover">
        <thead>
        <tr>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${list}">
            <td style="width: 150px;">
                <p style="margin-left: 56px;" th:text="${user.cliente.nome}"></p>
                <p style="margin-left: 56px;" th:text="${user.email}"></p>
                <p style="width: 50px; margin-left: 182px; padding: 19px; margin-top: -81px;" th:text="${user.roles[0].name}"></p>
            </td>
            <td style="width: 96px;">
                <div style="margin-left: -41px;">
                    <a th:href="@{/cliente/edit_endereco/{id}(id = ${user.cliente.id})}"><strong>ENDEREÇO</strong></a>
                </div>
                <div style="margin-left: -41px;">
                    <a th:href="@{/cliente/edit_cliente/{id}(id = ${user.cliente.id})}"><strong>CLIENTE</strong></a>
                </div>
                <div style="margin-left: -41px;">
                    <a th:href="@{/cliente/edit_usuario/{id}(id = ${user.id})}"><strong>PASSWORD</strong></a>
                </div>
            </td>
            <td style="width: 147px;">
                <form th:action="@{/administrador/valida/{id}(id = ${user.id})}" th:method="post">
                    <input type="hidden" name="_method" value="put"/>
                    <div class="form-group" style="margin-top: 19px;">
                        <label th:if="${user.active == true}"> Ativo :
                            <input type="checkbox" th:field="${user.active}"/>
                        </label>
                        <label th:if="${user.active == false}"> Inativo :
                            <input type="checkbox" th:field="${user.active}"/>
                        </label>
                        <button type="submit" class="btn btn-success">Salvar</button>
                    </div>
                </form>
            </td>
            <td style="width: 183px;">
                <form style="margin-top: 19px;" th:action="@{/administrador/editar/{id}(id = ${user.id})}"
                      th:object="${user}" th:method="post">
                    <input type="hidden" name="_method" value="put"/>
                    <input type="hidden" th:field="*{id}"/>
                    <div class="form-group">
                        <select name="role">
                            <option>USER</option>
                            <option>ADMIN</option>
                            <option>ESTOQ</option>
                        </select>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</main>
<div>
    </br></br></br>
</div>
<footer style="margin-top: 50px;" class="bg-dark text-white">
    <div class="container py-4">
        <div class="row">

            <div class="col-md-6">

                <ul class="list-unstyled">
                    <h4 class="h6">Sobre</h4>
                    <ul class="list-unstyled text-secondary">
                        <li>Projeto Integrador 2020</li>
                        <li>Senac St. Amaro</li>
                    </ul>
                    </br>
                    <ul class="list-unstyled">
                        <h4 class="h6">Contato</h4>
                        <ul class="list-unstyled text-secondary">
                            <li>devs@jokers.com.br</li>
                            <li>(11) 4002-8922</li>
                        </ul>
            </div>
            <div class="col-md-6">

                <ul class="list-unstyled">
                    <h4 class="h6">Devs.</h4>
                    <ul class="list-unstyled text-secondary">
                        <li>Rafael Louzano</li>
                        <li>Julio Alcântara</li>
                        <li>Kaique Ferraz</li>
                        <li>Sandro</li>
                    </ul>
            </div>
        </div>
    </div>
    <div class="bg-primary text-center py-3">
        <p class="mb-0">JOKERS © 2020. Todos os direitos reservados.</p>
    </div>
</footer>

<!-- FOOTER - RODAPE-->


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.cards-gallery', {
        animation: 'slideIn'
    });
</script>
</body>
</html>